.side-bar__comments__comment
  .side-bar__comments__comment__name
    = comment.user.nickname
  .side-bar__comments__comment__date
    = l(comment.created_at, format: :long)
  .side-bar__comments__comment__content
    = comment.comment
  - if defined? weblog
    - if comment.weblog.id == weblog.id
      .side-bar__comments__comment__address
        Address:
        = link_to weblog_path(comment.weblog.id) do
          = comment.weblog.title.truncate(20)