.flex-contener
  .mypage-area
    .mypage-area__user
      .mypage-area__user__name 
        - if user_signed_in? && current_user.id == @user.id
          = "MYPAGE"
        - else
          = "#{@user.nickname}さんのページ" 
      .mypage-area__user__count
        = "記事数:#{@weblogs.count}"
    = render @weblogs
  .side-bar
    サイドバーです