.flex-contener
  .mypage-area
    .mypage-area__user
      .mypage-area__user__name
        - if current_user&.id == @user.id
          = "MYPAGE"
        - else
          = "#{@user.nickname}さんのページ"
      .mypage-area__user__count
        = "記事数:#{@weblogs.count}"
      .mypage-area__user__all-viewed
        = "閲覧数:#{@allviewed}"
      .mypage-area__user__all-comments
        = "コメント数: #{@allcomments}"
    = render @weblogs
  .side-bar
    .side-bar__top
      - if current_user&.id == @user.id
        あなたへのコメント一覧
      - else
        = "#{@user.nickname}さんへのコメント一覧"
    .side-bar__comments
      - @weblogs.each do |weblog|
        - weblog.comments.each do |comment|
          = render partial: "comments/comment",locals:{weblog: weblog, comment: comment}