.flex-contener
  .index-area
    = render @weblogs
  .pagenation
    .pagenation__page.wf-Lobster
      = paginate(@weblogs)
  .side-bar
    .side-bar__scroll
      .search
        %input(type = "text-field" class = "search__input")
        = button_tag type: "submit",class:"search__button" do
          = fa_icon "search 2x"
      .ranking
        .ranking__comment
          .ranking__comment__word
            = fa_icon "star"
            コメント数ランキング
          = render partial: "ranking/rank", collection: @comment_rank
        .ranking__viewed
          .ranking__viewed__word
            = fa_icon "star"
            閲覧数ランキング
          = render partial: "ranking/rank", collection: @viewed_rank
        .ranking__random
          .ranking__random__word
            = fa_icon "star"
            ランダムランキング
          = render partial: "ranking/rank", collection: @random_rank
