!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title MiniWebLog
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %headr.header
      .header__back-image
        = link_to "MiniWebLog",root_path, class: "header__back-image__title"
        .header__back-image__menu
          = link_to weblog_path(1), class: "header__back-image__menu__mypage" do
            = fa_icon("cog 3x")
          = link_to new_weblog_path, class: "header__back-image__menu__post" do
            = fa_icon("paper-plane 3x")
          - if user_signed_in?
            = link_to destroy_user_session_path, class: "header__back-image__menu__inout", method: :delete do
              = fa_icon("sign-out 3x")
          - else
            = link_to new_user_session_path, class: "header__back-image__menu__inout" do
              = fa_icon("sign-in 3x")

    = yield
